{# \App\Admin\Form\Type\FileUploadType #}
{% block file_upload_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {%- set row_class = row_class|default(row_attr.class|default('mb-3')|trim) -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: row_class})} %}{{ block('attributes') }}{% endwith %}>
    {%- if 'form-floating' in row_class -%}
        {{- form_widget(form, widget_attr) -}}
        {{- form_label(form) -}}
    {%- else -%}
        {{- form_label(form) -}}
        {{- form_widget(form, widget_attr) -}}
    {%- endif -%}
    {%- if form.vars.data is not empty -%}
    <div class="btn float-end"><input type="checkbox" class="form-check-input" id="{{ form.vars.id~'_delete' }}" name="{{ form.vars.full_name~'[delete]' }}" value="1"><label class="form-check-label" for="{{ form.vars.id~'_delete' }}">&nbsp;удалить?</label></div>
    <a href="{{- asset(form.vars.data) -}}" class="btn btn-link text-info float-end" target="_blank">Файл загружен</a>
    {%- endif -%}
    {{- form_help(form) -}}
    {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{% endblock %}